.homeContainer {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
}

.card {
  width: 45%;
  height: 410px;
}

.cardContainer {
  padding: 44px;
  background: #00000069;
  backdrop-filter: blur(55px);
  color: white;
  max-height: 40vh;
  overflow: auto;
}

.textInitial {
  font-size: 16px;
}

.textTitle {
  font-size: 50px;
}

.textInfo {
  font-size: 18px;
  text-align: justify;
  padding-right: 44px;
  margin-top: 16px;
}

.textLink {
  text-decoration: underline;
  margin-top: 20px;
}

.textSubtitle {
  font-size: 22px;
  font-weight: bold;
  margin-top: 24px;
}

.vote {
  display: flex;
  height: 74px;
}

.option1 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 2;
  background: #04bfb5db;
  overflow: auto;
  cursor: pointer;
}

.option1:hover{
  background: #04bfb5;
}

.option2 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 2;
  background: #ffad1cd9;
  overflow: auto;
  cursor: pointer;
}

.option2:hover{
  background: #ffad1c;
}

.cardLarge {
  margin-top: calc(100vh - 540px);
  background: #ebebeb;
  height: 80px;
  display: flex;
  align-items: center;
  color: #525252;
  padding: 14px;
}

.cardLargeItem1 {
  flex: 2;
  text-align: center;
}

.cardLargeItem1Section1 {
  font-size: 22px;
}

.cardLargeItem1Section2 {
  font-size: 36px;
  font-weight: 600;
  color: #4a4a4a;
}

.cardLargeItem2 {
  flex: 6;
  text-align: justify;
}

.voteSection {
  font-size: 40px;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 50px;
}

.spaceCards {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.results{
  font-size: 32px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.again{
  color: white;
  height: 40px;
  background: #4c4a48;
  font-size: 24px;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  cursor: pointer
}

@media only screen and (max-width: 1065px) {
  .spaceCards {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .voteSection {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 960px) {
  .card {
    width: 100%;
  }

  .cardContainer {
    padding: 20px;
    max-height: 24vh;
  }

  .textInitial {
    font-size: 16px;
  }

  .textTitle {
    font-size: 38px;
  }

  .textInfo {
    font-size: 16px;
    padding-right: 0px;
    margin-top: 10px;
  }

  .textLink {
    margin-top: 18px;
    font-size: 14px;
  }

  .textSubtitle {
    font-size: 20px;
    margin-top: 24px;
  }

  .vote {
    height: 60px;
  }

  .homeContainer {
    margin-top: 0;
  }

  .cardLarge {
    margin-top: calc(90vh - 640px);
  }

  .cardLargeItem1Section1 {
    font-size: 10px;
  }

  .cardLargeItem1Section2 {
    font-size: 16px;
  }

  .cardLargeItem2 {
    font-size: 10px;
  }
}
