.headerContainer {
  position: relative;
  background: linear-gradient(#000000ba, #00000000);
}

.headerSections {
  height: 130px;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.section1 {
  flex: 2;
  font-size: 30px;
  font-weight: 500;
}

.section2 {
  flex: 2;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px
}

.headerOptions{
  cursor: pointer;
}

.headerOptions:hover{
  color: #ffffffa4 !important
}

@media only screen and (max-width: 960px) {
  .headerSections {
    height: 94px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .section1 {
    font-size: 27px;
  }
  
  .section2 {
    font-size: 16px
  }
}
