.fondo {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image:  url('/static/media/fondo.9ebeb79d.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.closingIn{
  bottom: 0;
  position: absolute;
  height: 68px;
  width: 100%;
  display: flex
}

.closingInSection1{
  flex: 2;
  background: #00000038;
  align-items: center;
  display: flex;
}

.closingInText1{
  width: 100%;
  text-align: right;
  margin-right: 18px;
  font-size: 18px;
  color: white;
}

.closingInSection2{
  flex: 3;
  background: #ecececde;
  align-items: center;
  display: flex;
}

.closingInText2{
  width: 100%;
  text-align: left;
  margin-left: 18px;
  font-size: 41px;
  color: #3c3c3c;
}

@media only screen and (max-width: 960px) {
  .fondo {
    height: 70vh;
  }
}