.cardPrincipal {
  width: 45%;
  height: 480px;
  margin-bottom: 100px;;
  background-position: center
}

.cardPrincipalContainer {
  padding: 44px;
  color: white;
  height: 394px;
  background: linear-gradient(#00000000, #000000ba);
}

.cardTextTitle {
  margin-top: 180px;
  font-size: 40px;
}

.cardTexInfo {
  font-size: 18px;
  margin-top: 18px;
}

.cardVote {
  display: flex;
  height: 50px;
}

.cardOption1 {
  align-items: center;
  display: flex;
  flex: 2;
  background: #04bfb5db;
}

.cardOption2 {
  align-items: center;
  display: flex;
  flex: 2;
  background: #ffad1cd9;
}

.thumbSections {
  display: flex;
  margin-top: 20px;
}

.thumbSection1 {
  background: #04bfb5db;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.thumbSection1:hover {
  background: #04bfb5
}

.thumbSection2 {
  background: #ffad1cd9;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.thumbSection2:hover {
  background: #ffad1c
}

.thumbButtom {
  width: 100px;
  height: 50px;
  border: 1px solid white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.thumb {
  margin-left: 10px;
}

@media only screen and (max-width: 1065px) {
  .cardPrincipal {
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .cardPrincipal {
    width: 100%;
    height: 494px;
  }

  .cardPrincipalContainer {
    padding: 20px;
  }

  .cardTextTitle {
    font-size: 30px;
    margin-top: 180px;
  }

  .cardTexInfo {
    font-size: 16px;
    margin-top: 18px;
  }

  .cardVote {
    height: 70px;
  }
}
